{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_messages %}

<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<title>ITSpace</title>
		{% load static %} <link href ="{%static "css/base.css" %}" rel =
		"stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"> 
	</head>
	
	<body>

		
		<div class=' col-12'>
			<div class=' navbar justify-content-center d-flex '>
				<h2 class='head'>{% block header %}Sterowanie nagrzewnicami{% endblock header %}</h2>
			</div>
			<div class='p-3'>{% block content%}
				<div class= 'col-3' style='margin-left:37%'>
					<button class='btn btn-primary'>Kliknij mnie</button>
					<button class='btn btn-primary'>Kliknij mnie</button>
					<button class='btn btn-primary'>Kliknij mnie</button>
					<button class='btn btn-primary'>Kliknij mnie</button>
				</div>
				{% endblock content %}
			</div>
		</div>
	
	</div>
		<footer>
			<div class="text-center  footer bg-primary" >
				© 2023 Copyright:
				<a class="text-white" href="mailto: pawewlr.121@gmail.com">Paweł Woroniecki </a>
			  </div>
		</footer>
	</body>
</html>
